<div class="container mt-3">
    <div class="row">
        <div class="col">
            <div class="card-header bg-secondary text-white">
                <h4>Github User Search</h4>
            </div>
            <div class="card-body">
                <form action="" class="form-inline" (submit)= "searchUser">
                    <div class="form-group mb-2">
                        <input name="name" [(ngModel)]="userQuery" type="search" class="form-control" placeholder="github user"></div>
                    <div>
                        <input type="submit" value="SEARCH" class="btn btn-primary btn-sm mb-2">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
